{% extends 'base.njk' %}
							
{% block content %}
    <img src=/static/img/wordart/404.gif>
    <p>Whatever you clicked wasn't found, probably because it was renamed, re-located, doesn't exist, or bugged.</p>
{% endblock %}