<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Dylan & Halen Martini">
    <link rel="stylesheet" href=/static/style/style.css>
    <link rel="icon" href="/static/img/icon/favicon.ico">
    {% block meta %}{% endblock %}
    <title>
        {% if title %}{{ title }} | {% endif %}asbesto
    </title>
    <!-- how to piss off vscode: part 1 -->
    <style>
        {% block pagestyle %}{% endblock %}
    </style>
    {% block headend %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    <hr>						
    {% block content %}{% endblock %}

    {% include "footer.html" %}
</body>
</html>