<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Dylan & Halen Martini">
    <link rel="icon" href="/static/img/icon/favicon.ico">
    {%- block meta %}{% endblock %}
    <title>
        {% if title %}{{ title }} | {% endif %}asbesto
    </title>
    {#- <!-- how to piss off vscode: part 1 -->
    <style>
        {% block pagestyle %}{% endblock %}
    </style> #}
    {%- block headend %}{% endblock %}
</head>
<body background="/static/img/misc/bg.gif" text="white" link="#1e90ff">
<center>
    <table bgcolor="#690000" border width=100%> <!-- nice -->
    <tr>
    <td align="center">
    <shadow><small><b><i>NOTE: This site is moving to <a href=http://asbesto.hiden.cc>asbesto.hiden.cc</a>. This site will no longer be operational on the previous domain beginning some time between April 28 - May 1. Update your bookmarks by then.</i></b></small></shadow>
    </td>
    </tr>
    {%- block header %}{% endblock %}
    <hr>						
    {%- block content %}{% endblock %}
    <hr>
    <footer>
        <img width=88 height=31 src=/static/img/button/webtoptimized.gif
        {% include "footer.njk" %}
    </footer>
</center>
</body>
</html>