    <a href=https://www.debian.org>
        <img src=/static/img/button/powered-by-debian.gif>
    </a>
    
    <img src=/static/img/button/pan.gif>

    <img src=/static/img/button/animegay.gif>

    <img src=/static/img/button/femboy.gif>

    <a href=https://archlinux.org>
        <img src=/static/img/button/archlinux.gif>
    </a>

    <img src=/static/img/button/sun.gif>

    <a href=https://webtv.zone>
        <img src=/static/img/button/webtv.gif>
    </a>

    <a href=https://lemmy.ml/c/piracy@lemmy.dbzer0.com>
        <img src=/static/img/button/piracy.gif>
    </a>

    <img src=/static/img/button/sm_fever_button.gif>

    <img src=/static/img/button/hatems.jpg>

    <a href=https://www.w3schools.com/html/default.asp>
        <img src=/static/img/button/html_learn_it_today.gif>
    </a>

    <a href=http://retrosite.org>
        <img src=/static/img/button/retrosite.gif>
    </a>

    <a href=https://vscodium.com>
        <img width=88 height=31 src=/static/img/button/vscodium.gif>
    </a>

    <img src=/static/img/button/polyzoot.gif>

    <img src=/static/img/button/miku.gif>

    <img src=/static/img/button/win11no.gif>