{% extends 'base.html' %}

{% block header %}
    <img src=/static/img/wordart/index.gif>
    <br><br>
    <a href=/wtv-jukebox>WebTV Jukebox</a>
{% endblock %}

{% block content %}
    <p>welcome to this little corner of the internet superhighway.</p>
    <p>this is a site ran by a couple of <s>soon-to-be-married</s> goobers (Dylan Martini <a href=https://hiden.pw>(HIDEN)</a> and Halen Martini <a href=https://github.com/nitrate92>(nitrate92)</a>), mostly just to mess around with web development and do random crap with.</p>
{% endblock %}